/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
    background-color: lavender;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: dimgray;
}

.nav-title {
    color: white;
    margin: 0px 10px;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    color: white;
    font-size: 18px;
}

ul, a {
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}

.btn {
    font-size: inherit;
    background-color: teal;
    color: white;
    border: solid black 2px;
    box-shadow: 5px 5px black;
}

.row {
    display: flex;
}

.col, .col-2, .col-3 {
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: lightcyan;
}

.col-2 {
    flex: 2;
}

.col-3 {
    flex: 3;
}
