* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #404040;
}

.nav {
    width: 1000px;
    margin: 0 auto;
    color: black;
    background-color: gray;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
}

.searchbar{
    width: 500px;
    height: 30px;
    font-size: 1.3em;
}

.nav-title {
    font-size: 4em;
}

.btn, .btn2 {
    height: 35px;
    width: 70px;
    background-color: teal;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 5px 5px #000000;
    margin: 15px;
    border: solid black 3px;
}

.orange {
    color: black;
    background-color: orange;
}

.green {
    color: black;
    background-color: limegreen;
}

.add_def{
    width: 80%;
}

.container{
    width: 1000px;
    background-color: #AAAAAA;
    margin: 0 auto;
}

.row{
    display: flex;
}

.col1, .col2{
    flex: 2;
    margin: 20px;
}

.ninjablock{
    background-color: seashell;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #282828;
}

.left{
    width: 40%;
    display: inline-block;
    text-align: center;
    border: none;
}

.def_name{
    font-size: 3.5em;
}

.def_type{
    font-size: 1.5em;
    margin-bottom: 10px;
}

.right{
    width: 100%;
    border: none;
}

.definitiontxt{
    font-size: 1.5em;
}

.col2{
    flex: 1;
}

.full{
    width: 90%;
    border: solid 2px #282828;
}

.col2text{
    font-size: 1.8em;
    padding: 10px;
}